extends ./layout/layout
block append content
  #index
    .content
      h1 Job Talk
      h2 Job Talk, Job Get!
      .content-form
        input(placeholder="username")
        input(placeholder="password")
        .links
          img(src="#")
          img(src="#")
          img(src="#")
        button 登入
        button 註冊