.btn {
  height: 40px;
  border-radius: 20px;
  color: $color-2;
  background-color: $color-4;
  border-width: 0px;
  padding: 5px 15px;
  box-sizing: border-box;
  font-size: 1.2em;
  box-shadow: 0 -5px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}